.Cards-Wrapper{
    max-width: 425px;
    width: 100%;
    margin: 100px auto 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card1{
    width: 250px;
    height: 250px;
    background-color: #F8F8F8;
    border-radius: 10px;
    transform: rotate(-10deg);
    text-align: start;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #d0d0d0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    right: -150px;
    top:-10px;
    display: none;
}

.card1:hover{
    z-index: 1;
    animation: bTt .5s ease forwards;
}

@keyframes bTt {
    0%{
        top:0;
    }

    100%{
        top:-100px;
        transform: rotate(0deg);
    }
}


.card2{
    width: 300px;
    border-radius: 10px;
    transform: rotate(0deg);
    text-align: start;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #d0d0d0;
    border: 10px solid #F8F8F8;
    top:-70px;
    position: relative;
}

.card2:hover{
    z-index: 1;
    animation: bTtCard2 .5s ease forwards;
}

@keyframes bTtCard2 {
    0%{
        top:-40;
    }

    100%{
        top:-130px;
        transform: rotate(0deg);
    }
}

.card3{
    width: 250px;
    height: 250px;
    background-color: #F8F8F8;
    border-radius: 10px;
    transform: rotate(5deg);
    text-align: start;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #d0d0d0;
    padding: 20px;
    position: relative;
    top:10px;
    left:-200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
}

.card3:hover{
    animation: bTt .5s ease forwards;
}

.card4{
    width: 350px;
    border-radius: 10px;
    transform: rotate(15deg);
    text-align: start;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #d0d0d0;
    border: 10px solid #F8F8F8;
    top:-10px;
    right: -90px;
    position: relative;
    display: none;
}

.card4:hover{
    z-index: 1;
    animation: bTtCard4 .5s ease forwards;
}

@keyframes bTtCard4 {
    0%{
        top:0;
    }

    100%{
        top:-60px;
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 1024px) {
    .Cards-Wrapper{
        max-width: 1300px;
        width: 100%;
        margin: 100px auto 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .card1{
        width: 250px;
        height: 250px;
        background-color: #F8F8F8;
        border-radius: 10px;
        transform: rotate(-10deg);
        text-align: start;
        font-size: 1.2rem;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px #d0d0d0;
        padding: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        right: -150px;
        top:-10px;
    }
    
    .card1:hover{
        z-index: 1;
        animation: bTt .5s ease forwards;
    }
    
    @keyframes bTt {
        0%{
            top:0;
        }
    
        100%{
            top:-100px;
            transform: rotate(0deg);
        }
    }
    
    
    .card2{
        width: 350px;
        border-radius: 10px;
        transform: rotate(0deg);
        text-align: start;
        font-size: 1.2rem;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px #d0d0d0;
        border: 10px solid #F8F8F8;
        top:-40px;
        left: -90px;
        position: relative;
    }
    
    .card2:hover{
        z-index: 1;
        animation: bTtCard2 .5s ease forwards;
    }
    
    @keyframes bTtCard2 {
        0%{
            top:-40;
        }
    
        100%{
            top:-130px;
            transform: rotate(0deg);
        }
    }
    
    .card3{
        width: 250px;
        height: 250px;
        background-color: #F8F8F8;
        border-radius: 10px;
        transform: rotate(5deg);
        text-align: start;
        font-size: 1.2rem;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px #d0d0d0;
        padding: 20px;
        position: relative;
        top:10px;
        left:-200px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .card3:hover{
        animation: bTt .5s ease forwards;
    }
    
    .card4{
        width: 350px;
        border-radius: 10px;
        transform: rotate(15deg);
        text-align: start;
        font-size: 1.2rem;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px #d0d0d0;
        border: 10px solid #F8F8F8;
        top:-10px;
        right: -90px;
        position: relative;
    }
    
    .card4:hover{
        z-index: 1;
        animation: bTtCard4 .5s ease forwards;
    }
    
    @keyframes bTtCard4 {
        0%{
            top:0;
        }
    
        100%{
            top:-60px;
            transform: rotate(0deg);
        }
    }
}