.header{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    max-width: 425px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
 }
 
 .header-button{
    background: #00B386;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 1rem;
    height: 45px;
   display: none;
 }
 
 .header-input{
     display: none;
 }

 


@media screen and (min-width: 1024px) {
    .header{
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between; 
        max-width: 1200px;
        margin: 10px auto;
        align-items: center;
     }
     
     .header-button{
         background: #00B386;
         color: white;
         border: 0px;
         border-radius: 10px;
         padding: 12px 16px;
         font-size: 1rem;
         height: 45px;
         display: block;
     }
     
     .header-input{
         width: 400px;
         height: 30px;
         padding: 5px;
         border-radius: 10px;
         border: 1px solid black;
         display: block;
     }     
}