html{
  font-size: 12px;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden{
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-5%);
  transition: all 1s;
}
.hiddenRight{
  opacity: 0;
  filter: blur(2px);
  transform: translateX(5%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}


@media screen and (min-width: 1024px) {
  html{
    font-size: 16px;
  }
}
